

.mine{
    color: #344553; 
    font-size: 2rem;
    cursor: pointer;
    max-height: 300px;
    box-shadow:  2px 4px 3px gainsboro;;
    margin-bottom: 20px;
    padding: 1.2rem;
    text-align: center;
    background-color: #fff;
    /* border-left: 1px solid gainsboro; */ 
    box-sizing: border-box;
    width:100% ;
    transition: all .4s ease-in-out;
}

.mine:hover {
transform: translateY(-1px);
background-color: #3de;
}

.navigation{
    margin: 20px;
    text-align: end;
}

